name: CD Pipeline - Production

on:
  workflow_run:
    workflows: ["CI Pipeline - Production"]  # must match CI workflow name
    branches:
      - production
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Deploy to Render Production
        run: |
          if [ -z "${{ secrets.RENDER_CALLBACK_URL }}" ]; then
            echo "::error::Secret RENDER_CALLBACK_URL is empty or missing!"
            exit 1
          fi

          echo "Triggering Render deploy for Production..."
          curl -X POST ${{ secrets.RENDER_CALLBACK_URL }}
